/* login styling */
.Login-deets
{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-abts
{
    background-color: #d3d3d3;
    min-width: 100%;
    min-height: 100vh;
}
.login-header
{
    text-align: center;
    color:blue;
    text-transform: uppercase;
    font-size: 20px;
}
.btn a
{
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
}
label
{
    font-weight: 700;
    font-style: italic;
}