{%extends 'index.html'%}
<!DOCTYPE html>
<html lang="en">
    {%include 'index.html'%}

    {% block content %}
<body>
    <article class="about-us">
    <div class="abt-container">
        <h1 class="about-header">About Our Website</h1>
    <section class="about-section">
        <h2>Introduction</h2>
        <p>Welcome to our website! We are excited to have you here and share more about the purpose of our platform.</p>
        <p>The website allows tutors and learners to have segregated environments for learning
            different things based on what the tutor is offering.</p>
    </section>

    <section class="about-section">
        <h2>Creators</h2>
        <p>
            Our website was created by a team of dedicated individuals
           who are passionate about learning and wanted to create a site
          that would facilitate tutoring.
        </p>
        <ul class="names">
            <li>Ann Muchiri</li>
            <li>Modeste Ciira</li>
            <!-- Add more names as needed -->
        </ul>
    </section>

    <section class="about-section">
        <h2>Contact Us</h2>
        <p>
            If you have any questions or feedback, feel free to reach out to us at: 
            <br>
             <a class="mail" href="mailto: ">ciiramodeste23@gmail</a>
             <br>
             <a class="mail" href="mailto:"> muchirinjeri3210@gmail.com</a>
        </p>
    </section>
</div>
</article>

    <!-- <footer>
        <p>&copy; 2024 Our Website. All rights reserved.</p>
    </footer> -->
</body>
{%endblock%}
</html>
