<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Participant to Group</title>
</head>
<body>
    <h1>Add Participant to Group</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('group.add_participant_to_group', group_id=group_id, hub_id=hub_id) }}">
        <label for="username">Learner Name:</label>
        <input type="text" name="username" required><br>
        <button type="submit">Add Participant</button>
    </form>
    <p><a href="{{ url_for('group.group_chat', group_id=group_id, sender_id=current_user.id) }}">Back to group</a></p>
</body>
</html>
