{%extends 'index.html'%}
<!DOCTYPE html>
<html lang="en">
    {%include 'index.html'%}

    {% block content %}
<body>
    <article class="login-abts">
    <form method="POST" action="/add_learner" class="Login-deets">
        <div class="mb-3">
    <h1 class="login-header">Add Learner to Hub</h1>

    <!-- Form for adding learner -->
    <div class="mb-3">
        <label for="learner_name"  class="form-label">Learner's Name:</label>
        <input type="text" id="learner_name" name="learner_name" class="form-control" required>
    </div>
        <button type="submit" class="btn btn-success">Add Learner</button>
</form>
    <button class="btn btn-light"><a href="{{ url_for('hub.hub_display', hub_id=hub_id) }}">Back to Hub</a></button>
</article>
</body>
{%endblock%}
</html>