{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
    {%include 'index.html'%}
    {% block content %}
<body>
    <article class="login-abts">
    <form method="POST" action="{{ url_for('group.add_participant_to_group', group_id=group_id, hub_id=hub_id) }}" class="Login-deets">
        <div class="mb-3">
    <h1 class="login-header">Add Participant to Group</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="mb-3">
        <label for="username"  class="form-label">Learner Name:</label>
        <input type="text" class="form-control" name="username" required><br>
        <button class="btn btn-success" type="submit">Add Participant</button>
        </div>
    </form>
    <button class="btn btn-light"><a href="{{ url_for('group.group_chat', group_id=group_id, sender_id=current_user.id) }}">Back to group</a></button>
</article>
</body>
{%endblock%}
</html>
