{% extends 'index.html'%}
<!DOCTYPE html>
<html lang="en">

    {%include 'index.html'%}

{% block content %}
<body>
<article class="login-abts">
    <!-- Form for creating a new hub -->
<form method="post" action="{{ url_for('hub.create_hub', tutor_id=current_user.id) }}" class="Login-deets">
    <div class="mb-3">
    <h1 class="login-header">Create Hub</h1>
     <!-- Display flash messages if any -->
     {% with messages = get_flashed_messages() %}
     {% if messages %}
         <ul>
             {% for message in messages %}
                 <li>{{ message }}</li>
             {% endfor %}
         </ul>
     {% endif %}
 {% endwith %}
      <div class="mb-3">
        <label for="name" class="form-label">Hub Name: </label>
        <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button type="submit" class="btn btn-secondary">Create Hub</button>
    </form>
    </article>
</body>
{%endblock%}
</html>