{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
    {%include 'index.html'%}
{% block content %}

<body>
    <article class="login-abts">
    <form method="POST" action="{{ url_for('group.create_group', hub_id=hub.id) }}" class="Login-deets">
<div class="mb-3">
    <h1 class="login-header">Create Group</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<div class="mb-3">
            <label for="group_name" class="form-label">Group Name:</label>
        <input type="text" class="form-control" name="group_name" required><br>
        <button type="submit" class="btn btn-light">Create Group</button>
</div>
    </form>
    <button class="btn btn-light"><a href="{{ url_for('hub.hub_display', hub_id=hub.id) }}">Return to Hub</a></button>
</body>
{%endblock%}
</html>
