{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
    {%include 'index.html'%}
{% block content %}
<body>
    <article class="login-abts">
    <form method="POST" action="{{ url_for('user.forgot_password') }}" class="Login-deets">
        <div class="mb3">
    <h2 class="login-header">Forgot Password</h2>
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="mb3">
        <label for="exampleInputPassword1" class="form-label">NewPassword</label>
        <input type="password" class="form-control" name="new_password" required>
    </div>
    <br>
        <button type="submit" class="btn btn-dark">Reset Password</button>
    </form>
</article>
</body>
{%endblock%}
</html>
