<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
</head>
<body>
    <h1>Group Chat</h1>

    <ul>
        {% for grp in group_chats %}
            <li>{{ grp.name }}</li>
        {% endfor %}
    </ul>

    <p><a href="{{ url_for('hub.hub_display', hub_id=hub.id) }}">Back to Hub</a></p>
</body>
</html>
