{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
	{%include 'index.html'%}
  {% block content %}
<head>
    <!-- Add your head content here -->
</head>
<body>
    <article class="login-abts">
        <form action="{{ url_for('group.group_chat', group_id=group.id, sender_id=sender.id) }}" method="POST"class="Login-deets">
            <div class="mb-3">
    <h1 class="login-header">Group Chat - {{ group.name }}</h1>
    <ul>
        {% for message in group_messages %}
            <li>{{ message.sender.username }}: {{ message.content }}</li>
        {% endfor %}
    </ul>

    <!-- Form for sending messages -->
        <label for="content" class="form-label">Message:</label>
        <textarea name="content" id="content" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
        <br>
        <button type="submit" class="btn btn-success">Send Message</button>
    </form>
    
    <button class="btn btn-light"><a href="{{ url_for('hub.hub_display', hub_id=group.hub_id) }}">Back to Hub</a></button>  
    {% if current_user.user_type == 'tutor' %}
        <button class="btn btn-light">
                <a href="{{ url_for('group.add_participant_to_group', group_id=group.id, hub_id=group.hub_id) }}">Add Participant</a>
        </button>
    {% endif %}
    <!-- Add other elements as needed -->
    </article>
</body>
{%endblock%}
</html>
