{%extends 'index.html'%}
<!DOCTYPE html>
<html lang="en">
    {%include 'index.html'%}

{% block content %}

<body>
    <h1>Welcome to {{ hub.name }}</h1>
    <p><a href="{{ url_for('user.home') }}">Home</a></p>
    <p><a href="{{ url_for('resource.create_resource', hub_id=hub.id) }}">Create Resource</a></p>
    <p><a href="{{ url_for('chat.create_chat', hub_id=hub.id, sender_id=current_user.id) }}">Create Chat</a></p>
    <p><a href="{{ url_for('group.create_group', hub_id=hub.id) }}">Create Group</a></p> 
    <select id="featureSelector" onchange="loadContent()">
        <option value="resources">Resources</option>
        <option value="chats">Chats</option>
        <option value="groups">Groups</option>
    </select>
    <div id="contentContainer">
        
    </div>
    <script>
        function loadContent() {
            var selectedFeature = document.getElementById("featureSelector").value;
            console.log('Selected Feature:', selectedFeature);
            var url = `/${selectedFeature}/${hub.id}`;
            console.log('Constructed URL:', url);

            fetch(url)
                .then(response => response.text())
                .then(content => {
                    document.getElementById("contentContainer").innerHTML = content;
                })
                .catch(error => console.error('Error', error));
        }
    </script>
</body>
{%endblock%}
</html>