{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
    {%include 'index.html'%}
    {% block content %}
<body>
    <article class="login-abts">
        <form action="{{ url_for('hub.hub_resources', hub_id=hub.id) }}" method="POST"  class="Login-deets">
            <div class="mb-3">
    <h1 class="login-header">Hub Resources</h1>

    {% if current_user.user_type == 'tutor' %}
        <!-- Create Resource Form -->
            <label for="content" class="form-label">Content:</label>
            <textarea name="content" id="content" rows="4" cols="50" class="form-control"></textarea><br>
            <input type="submit" value="Create Resource">
        </form>
    {% endif %}
    
    <!-- List of Resources -->
    <ul>
        {% for resource in resources %}
            <li>{{ resource.content }}</li>
        {% endfor %}
    </ul>

    <button class="btn btn-light"><a href="{{ url_for('hub.hub_display', hub_id=hub.id) }}">Back to Hub</a></button>
    </article>
</body>
{%endblock%}
</html>