{%extends 'index.html'%}
<!DOCTYPE html>
<html lang="en">

  {%include 'index.html'%}

  {% block content %}
<body>
  <article class="JustHubs">
    <h1 class="login-header">{{ hub.name }}</h1>
    <!-- <p><a href="{{ url_for('user.home') }}">Home</a></p> -->
    {% if current_user.user_type == 'tutor' %}
      <button class="btn btn-light learners"><a href="{{ url_for('hub.add_learner', hub_id=hub.id) }}">Add learners</a></button class=""btn btn-light">
      <button class="btn btn-light learners"><a href="{{ url_for('group.create_group', hub_id=hub.id) }}">Create Group</a></button>
    {% endif %}
    <h3 class="login-header">Hub Groups</h3>
    <ul>
        {% if current_user.user_type == 'tutor' %}
          {% for group in groups %}
            {% if group.hub_id == hub.id %}
              <li>
                <a href="{{ url_for('group.group_chat', group_id=group.id, sender_id=current_user.id) }}">{{ group.name }}</a>
              </li>
              <li>
                <a href="{{ url_for('group.delete_group', group_id=group.id, hub_id=hub.id) }}">Delete {{ group.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% elif current_user.user_type == 'learner' %}
          {% for group in groups %}
            {% if group.hub_id == hub.id %}
	    	{% for grp_m in group.members %}
		    {% if grp_m.user_id == current_user.id %}
                        <li>
                            <a href="{{ url_for('group.group_chat', group_id=group.id, sender_id=current_user.id) }}">{{ group.name }}</a>
                       </li>
		    {% endif %}
		{% endfor %}
            {% endif %}
          {% endfor %}
      {% endif %}  
    </ul>
    <button class="btn btn-light learners"><a href="{{ url_for('hub.hub_resources',hub_id=hub.id) }}">Resources</a></button>
    <button class="btn btn-light learners"><a href="{{ url_for('chat.create_or_view_chat', hub_id=hub.id, sender_id=current_user.id) }}">Chats</a></button>
  </article>
</body>
{%endblock%}
</html>
