{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register</title>
{% endblock %}

{% block content %}
<body>
    <h2>Registration</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('user.register') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <label for="user_type">User Type:</label>
        <select name="user_type" required>
            <option value="tutor">Tutor</option>
            <option value="learner">Learner</option>
        </select>

        <button type="submit">Register</button>
    </form>
</body>
{%endblock%}
</html>