{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">

{%include 'index.html'%}


{% block content %}
<body>
    <article class="login-abts">
    <form method="POST" action="{{ url_for('user.register') }}" class="Login-deets">
        <div class="mb-3">
    <h2 class="login-header">Registration</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <label for="exampleInputEmail1" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password"required>
    </div>
    <div class="mb-3">
        <label for="user_type">User Type:</label>
        <select name="user_type" required>
            <option value="tutor">Tutor</option>
            <option value="learner">Learner</option>
        </select>
    </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</body>
{%endblock%}
</html>